@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

:root {
    --navbar: #4472C4;
    --main-color1: #FFF2CC;
    --main-color2: #E2EFDA;
    --main-color3: #A6C7E6;
    --main-color4: #C6E0B4;
    --main-color5: #DDEBF7;
    --main-color6: #FCE4D6;
    --footer-color: #D6DCE4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.titlebar {
    background-color: var(--navbar);
    grid-area: titlebar;
}

.titlebar #title {
    font-family: 'Notable', sans-serif;
    font-size: 0.5em;
    text-transform: uppercase;
}

.titlebar img {
    width: 50px;
    height: auto;
}

.titlebar ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.titlebar li {
    display: inline;
    padding: 5px;
}

.titlebar a {
    text-decoration: none;
    color: black;
}

.titlebar a:hover {
    color: white;
}

.titlebar a:active {
    color: hotpink;
}

.grid-wrapper {
    margin: 0 5px;
    grid-area: main-content;
    grid-template-columns: 45% 35% auto;
}

article {
    padding: 5px;
}

aside {
    margin: 0 5px;
    height: 150px;
    grid-area: aside;
    display: grid;
    grid-template-columns: 45% 35% auto;
}

footer {
    grid-area: footer;
    background-color: var(--footer-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
        'titlebar titlebar titlebar'
        'main-content main-content main-content'
        'aside aside aside'
        'footer footer footer';
}

.titlebar input, .titlebar .hamburger-container {
    display: none;
}

#article1 {
    grid-area: article1;
    background-color: var(--main-color1);
}

#article2 {
    grid-area: article2;
    background-color: var(--main-color2);
}

#article3 {
    grid-area: article3;
    background-color: var(--main-color3);
}

#article4 {
    grid-area: article4;
    background-color: var(--main-color4);
}

#article5 {
    grid-area: article5;
    background-color: var(--main-color5);
}

#article6 {
    grid-area: article6;
    background-color: var(--main-color6);
}

.grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-areas: 
        'article2 article1 article3'
        'article2 article1 article3'
        'article5 article1 article3'
        'article5 article1 article4'
        'article5 article1 article4'
        'article5 article1 article4'
        'article5 article6 article6';
}

aside img {
    width: auto;
    height: 150px;
}

footer .copy-right {
    left: 50%;
    position: relative;
}

footer p {
    display: inline-block;
}

.cookie-statment {
    bottom: 0;
    right: 0;
    position: fixed;
    color: #FFF;
    background-color: #FA0;
    opacity: 0.5;
    z-index: 9999;
}

/* tablet */
@media screen and (min-width: 481px) and (max-width: 1279px){
    body {
        grid-template-areas: 
        'titlebar titlebar'
        'main-content main-content'
        'aside aside'
        'footer footer';
    }

    #article4 {
        display: none;
    }

    .grid-wrapper {
        grid-template-columns: 50% auto;
        grid-template-areas: 
            'article1 article2'
            'article1 article2'
            'article3 article2'
            'article3 article5'
            'article3 article5'
            'article3 article5'
            'article6 article6'
            'article6 article6';
    }

    aside {
        grid-template-columns: 50% auto;
    }

    #aside3 {
        display: none;
    }
}

/* mobile */
@media screen and (max-width: 480px) {
    body {
        grid-template-areas: 
        'titlebar titlebar'
        'main-content main-content'
        'aside aside'
        'aside aside'
        'aside aside'
        'footer footer';
    }

    .grid-wrapper {
        grid-template-columns: auto;
        grid-template-areas: 
            'article5 article5'
            'article3 article3'
            'article2 article2'
            'article1 article1';
    }

    aside {
        grid-template-columns: auto;
    }


    #article4, #article6, .navigation ul, .titlebar img {
        display: none;
    }

    .titlebar input, .titlebar .hamburger-container {
        display: grid;
        grid-area: hamburger;
    }

    .navigation ul {
        grid-area: nav-links;
    }

    .navigation {
        grid-area: nav;
        display: grid;
        grid-template-areas: 
            'nav-links'
            'hamburger';
    }

    .titlebar .title {
        grid-area: title;
    }

    .titlebar {
        display: grid;
        grid-template-areas: 
            'title nav';
    }

    .navigation input {
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: 0;
    }

    .hamburger-container {
        display: grid;
        grid-template-columns: auto;
    }

    .hamburger-container span {
        width: 40%;
        height: 5px;
        margin: 3px;
        background-color: white;
        z-index: 9998;
    }

    .navigation input:checked ~ ul {
        position: absolute;
        background-color: var(--navbar);
        padding: 10px;
        padding-right: 30px;
        top: 42px;
        right: 0;
        display: grid;
        grid-template-columns: auto;
    }

    .navigation li {
        margin: 50px;
    }

    /*Make the hamburger menu turn into a cross when clicked*/
    .navigation input:checked ~ .hamburger-container #hamburger1 {
        transform: rotate(-45deg) translate(-10px,6px);
    }

    .navigation input:checked ~ .hamburger-container #hamburger2 {
        opacity: 0;
    }

    .navigation input:checked ~ .hamburger-container #hamburger3 {
        transform: rotate(45deg) translate(-10px,-6px);
    }
}